body {
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
}
.panel {
    width: 940px;
    height: 40px;
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;    
}
.escape {
    width: 89px;    
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -5px;
}
.buttons {
    vertical-align: bottom;
    display: inline-block;
    margin-right: -100%;
    width: 100%;
    text-align: right;
}
.buttons a {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: rgb(46, 46, 46);
}
.home {
    padding-right: 41px;
}
.categories {
    padding-right: 41px;    
}
.about {
    padding-right: 41px;
}
.contact {
    padding-right: 20px;
}

.head {
    height: 360px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.main_title {
    width: 498px;
    height: 51px;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lora";
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
}
.subtitle {
    width: 504px;
    height: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}

.main {
    height: auto;
    margin-top: 0px;    
    padding-bottom: 135px;
}
.main_photo {
    width: 100%;
    height: 100%;
}
.text {
   
    width: auto;
    margin: 0px 240px 0 240px;
    padding-top: 140px;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: rgb(16, 19, 21);
}

.footer {
    height: 89px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), 
        url("/css/images/footer.jpg");
} 
.down_panel {
    width: 960px;
    height: 34px;
    padding-top: 31px;
    margin-left: auto;
    margin-right: auto;
}   
.down_escape {
    width: 89px;
    height: 26px;
    background-image: url("/css/images/Escape_down.svg");
    display: inline-block;
    vertical-align: bottom;
}
.down_buttons {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    margin-right: -100%;
    text-align: right;
}
.down_buttons a{
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.down_home {
    padding-right: 20px;
}
.down_categories {
    padding-right: 20px;    
}
.down_about {
    padding-right: 20px;
}
.down_contact {
    padding-right: 10px;
}