body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../image/head.png");
    background-size: cover;
}

.panel {
    height: 74px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}

.panel__logo {
    height: 26px;
}

.panel__navigation {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.navigation__link {
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.head__title {
    margin-top: 110px;
    margin-bottom: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title__main-title {
    margin-top: 0;
    font-family: "Lora", "Arial";
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.title__subtitle {
    margin-top: 20px;
    text-align: center;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.title__latest-posts {
    margin-top: 31px;
    padding: 12px 31px 12px 31px;
    background-color: rgb(221, 120, 61);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.main-panel {
    padding: 9px 95px 10px 95px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.main-panel__link {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Lora", "Arial";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 136, 1);
    text-decoration: none;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    padding-bottom: 50px;
}

.featured-post {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured__title {
    width: 188px;
    height: 43px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
    border-bottom: 1px solid rgb(222, 222, 222);
}

.featured-posts__posts {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-post__post {
    height: 280px;
    padding: 0 15px 15px 15px;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.featured-post__status {
    margin-top: 20px;
    margin-bottom: 234px;
    padding: 6px 9px 7px 9px;
    border-radius: 2px;
    position: absolute;
    font-family: "Oxygen", "Times New Roman";
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 120, 63);
}

.featured-post__title {
    margin-top: auto;
    font-family: "Lora", "Arial";
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.featured-post__line {
    margin-top: 6px;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__description {
    height: 35px;
    margin-bottom: 0;
    display: flex;

    justify-content: space-between;
}

.featured-posts-description__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.featured-posts-author__photo {
    width: 23px;
    border-radius: 13px;
}

.featured-posts-author__name {
    margin-left: 10px;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts-description__date {
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.most-recent {
    max-width: 960px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.most-recent__title {
    width: 188px;
    height: 43px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
    border-bottom: 1px solid rgb(222, 222, 222);
}

.most-recent__posts {
    margin-top: 16px;
    gap: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.most-recent__post {
    margin-bottom: 20px;
}

.most-recent-post__picture {
    height: 150px;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.most-recent-post__info {
    height: 93px;
    padding: 14px 3px 14px 10px;
    border: 1px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.info__title {
    font-family: "Lora", "Arial";
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: rgb(16, 19, 21);
}

.info__line {
    margin-top: 6px;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: rgb(122, 122, 122);
    text-align: start;
}

.most-recent-post__description {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 252, 252);
    border-top: 1px solid rgb(229, 229, 229);
}

.most-recent-description__author {
    display: flex;
    align-items: center;
    margin-left: 13px;
    gap: 10px;
}

.most-recent-author__photo {
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.most-recent-author__name {
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: rgb(153, 153, 153);
}

.most-recent-description__date {
    margin-right: 13px;
    font-family: "Oxygen", "Times New Roman";
    font-size: 12px;
    line-height: 35px;
    color: rgb(153, 153, 153);
}

.footer-panel {
    height: auto;
    min-height: 89px;
    background: url("../image/footer.jpg");
    background-color: rgba(37, 45, 46, 0.6);
    background-blend-mode: darken;
    background-size: cover;
}

.link_dark {
    color: rgba(255, 255, 255, 0.6);
}

.panel__burger-checkbox {
    display: none;
}

.panel__burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

@media screen and (min-width: 420px) {
    .main-panel {
        justify-content: space-around;
        gap: 10px 40px;
    }

    .title__subtitle {
        margin-left: 84px;
        margin-right: 84px;
    }

    .featured-post__post {
        width: 440px;
    }

    .most-recent__post {
        width: 440px;
    }

    .panel {
        gap: 30%;
        justify-content: space-between;
    }

    .panel__navigation {
        width: auto;
        flex-direction: column;
    }
    
    .panel__burger {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .main-panel {
        justify-content: center;
        gap: 7%;
    }

    .featured-post__post {
        width: 345px;
    }

    .most-recent__post {
        width: 222px;
    }

    .panel {
        gap: 35%;
        justify-content: space-around;
    }

    .panel__navigation {
        width: 300px;
        flex-direction: row;
    }

    .panel__burger {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .main-panel {
        justify-content: center;
        gap: 8.5%;
    }

    .featured-post__post {
        width: 460px;
    }

    .most-recent__post {
        width: 295px;
    }

    .panel {
        gap: 40%;
        justify-content: space-around;
    }

    .panel__navigation {
        width: 300px;
        flex-direction: row;
    }

    .panel__burger {
        display: none;
    }
}

@media screen and (min-width: 1366px) {
    .main-panel {
        justify-content: center;
        gap: 100px;
    }

    .featured-post__post {
        width: 460px;
    }

    .most-recent__post {
        width: 295px;
    }

    .panel {
        gap: 500px;
        justify-content: center;
    }

    .panel__navigation {
        width: 300px;
        flex-direction: row;
    }
    
    .panel__burger {
        display: none;
    }
}