body {
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
}

.panel {
    height: 74px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}

.panel__link {
    height: 26px;
}

.panel__logo {
    height: 26px;
}

.panel__navigation {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.navigation__link {
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.head {
    height: 360px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lora", "Arial";
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
}

.subtitle {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}

.text {
    max-width: 960px;
    padding: 0 25px 135px 25px;
    margin: 0 auto;
    text-align: justify;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: rgb(16, 19, 21);
}

.main-photo {
    width: 100%;
    height: 100%;
    padding-bottom: 140px;
}

.bottom-panel {
    height: auto;
    background-image: url("../image/footer.jpg");
    background-color: rgba(37, 45, 46, 0.6);
    background-blend-mode: darken;
    background-size: cover;
}

.panel__navigation {
    display: flex;
    gap: 40px;
}

.navigatoin__link_dark {
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 420px) {
    .panel {
        gap: 30%;
        justify-content: space-between;
    }

    .panel__navigation {
        width: auto;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .panel {
        gap: 35%;
        justify-content: space-around;
    }

    .panel__navigation {
        width: 300px;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .panel {
        gap: 40%;
        justify-content: space-around;
    }

    .panel__navigation {
        width: 300px;
        flex-direction: row;
    }
}

@media screen and (min-width: 1366px) {
    .panel {
        gap: 500px;
        justify-content: center;
    }

    .panel__navigation {
        width: 300px;
        flex-direction: row;
    }
}