body {
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
}

.panel {
    max-width: 1000px;
    height: 40px;
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;   
}

.logo {
    width: 89px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -10px;
    text-decoration: none;
}

.buttons {
    width: auto;
    float: right;
}

.link-up {
    margin-right: 30px;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.head {
    height: 360px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    width: 498px;
    height: 51px;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lora", "Arial";
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
}

.subtitle {
    width: 504px;
    height: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}

.text {
    max-width: 960px;
    height: auto;
    padding-bottom: 135px;
    margin: 0 auto;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: rgb(16, 19, 21);
}

.main-photo {
    width: 100%;
    height: 100%;
    padding-bottom: 140px;
}

.bottom-panel {
    width: 100%;
    height: 34px;
    padding: 28px 0 28px 0 ;
    text-decoration: none;
    background-image: url("../image/footer.jpg");
    background-color: rgba(37, 45, 46, 0.6);
    background-blend-mode: darken;
    background-size: cover;
}

.bottom-escape{
    margin-top: 5px;
    margin-left: 350px;
}

.bottom-navigation {
    margin-top: 4px;
    width: auto;
    margin-right: 300px;
    display: block;
    text-align: right;
    text-decoration: none;
    float: right;
}

.link-down {
    padding-right: 20px;
    font-family: "Oxygen", "Times New Roman";
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}