body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: none;

}

.head {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/head.png");
    background-size: cover;
}

.head__panel {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-around;
}

.panel__escape {
    display: flex;
    align-items: center;
}

.panel__navigation {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.head__title {
    width: 940px;
    height: 159px;
    margin-top: 110px;
    margin-bottom: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title__main-title {
    height: 51px;
    width: 498px;
    margin-top: 0;
    text-align: center;
    font-family: "Lora";
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.title__subtitle {
    width: 504px;
    margin-top: 20px;
    text-align: center;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.title__latest-posts {
    margin-top: 31px;
    padding: 12px 31px 12px 31px;
    background-color: rgb(221, 120, 61);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.main-panel {
    min-height: 65px;
    width: 100%;
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-panel__link {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Lora";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 136, 1);
    text-decoration: none;
}

.main-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    padding-bottom: 50px;
}

.featured-posts {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured__title {
    width: 188px;
    height: 43px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
    border-bottom: 1px solid rgb(222, 222, 222);
}

.featured-posts__posts {
    height: auto;
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-post {
    height: 280px;
    width: 460px;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.featured-post__status {
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px 9px 7px 9px;
    border-radius: 2px;
    position: absolute;
    font-family: "Oxygen";
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 120, 63);
}

.featured-post__title {
    margin-top: 157px;
    margin-left: 20px;
    font-family: "Lora";
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.featured-post__line {
    margin-top: 6px;
    margin-left: 20px;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__description {
    width: 420px;
    height: 25px;
    margin-top: 12px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.featured-posts-description__autor {
    width: auto;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.featured-posts-autor__photo {
    height: auto;
    width: auto;
    border-radius: 13px;
}

.featured-posts-autor__name {
    margin-left: 10px;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts-description__date {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.post_the-road-ahead {
    background-image: url(./img/the-road-ahead.png);
}

.post_from-top-down {
    background-image: url(./img/from-top-down.png);
}

.most-recent {
    max-width: 960px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.most-recent__title {
    width: 188px;
    height: 43px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgb(46, 46, 46);
    border-bottom: 1px solid rgb(222, 222, 222);
}

.most-recent__posts {
    height: auto;
    width: 100%;
    margin-top: 16px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.most-recent__post {
    height: auto;
    width: 296px;
    text-decoration: none;
    margin-bottom: 25px;
}

.most-recent-post__picture {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.most-recent-post__info {
    height: 93px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.info__title {
    width: auto;
    height: auto;
    margin-top: 14px;
    margin-left: 13px;
    font-family: "Lora";
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgb(16, 19, 21);
    position: absolute;
}

.info__line {
    width: auto;
    height: auto;
    margin-top: 41px;
    margin-left: 13px;
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: rgb(122, 122, 122);
    position: absolute;
    text-align: start;
}

.most-recent-post__description {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 252, 252);
    border-top: 1px solid rgb(229, 229, 229);
}

.most-recent-description__autor {
    width: 102px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 13px;
}

.most-recent-autor__photo {
    width: 26px;
    border-radius: 13px;
}

.most-recent-autor__name {
    font-family: "Oxygen";
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: rgb(153, 153, 153);
}

.most-recent-description__date {
    margin-right: 13px;
    font-family: "Oxygen";
    font-size: 12px;
    line-height: 35px;
    color: rgb(153, 153, 153);
}

.footer__panel {
    height: 89px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("./img/footer.jpg");
    background-color: rgba(37, 45, 46, 0.6);
    background-blend-mode: darken;
    background-size: cover;
}

.link_dark {
    color: rgba(255, 255, 255, 0.6);
}

.escape_footer {
    width: 92px;
    height: 26px;
}